.email_input{
    background-color: #DAD8D8;
    border-radius: 20px;
    height: 57px;
    width: 515px;
    margin-bottom: 15px;
    outline-style: none;
}

.password_input{
    background-color: #DAD8D8;
    border-radius: 20px;
    height: 57px;
    width: 515px;
    outline-style: none;
}

.email_label{
    font-size: 30px;
    margin-bottom: 15px;
}

.password_label{
    font-size: 30px;
    margin-bottom: 15px;
}

.email_container{
    display: flex;
    flex-direction: column;
}

.password_container{
    display: flex;
    flex-direction: column;
}

.auth_form_container{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 737px;
    width: 737px;
    align-items: center;
    justify-content: center;
}

.submit_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 515px;
   
}

.contacto{
    padding-top: 25px;
    color: black;
}

.contacto:visited{
    color: black;
}

.contacto:hover{
    text-decoration: none;
}

.submit_btn{
    background-color: #2A8728;
    border-radius:  15px;
    height: 57px;
    width: 200px;
    align-self: flex-end;
    font-size: 30px;
    color: white;
    border: none;
    outline-style: none;
}