.header{
    height: 32rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.logo{
    margin-top: 4rem;
    margin-right: 13rem;
    width: 79rem;
    height: 25rem;
}