.labeled__input__container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.labeled__input__label{
    color: black;
    font-size: 7rem;
    margin-bottom: 1rem;
    width: 100%;
}

.labeled__input__input{
    border: #DAD8D8;
    border-style: groove;
    border-radius: 5rem;
    height: 11rem;
    outline: none;
    padding-left: 5rem;
    font-size: 5rem;
    color: rgb(52, 52, 52);
    margin-bottom: 12rem;
}