
.project__request__approval__container{
    margin-bottom: 40px;
    border: black;
    border-style: groove;
    z-index: -100;
}

.pending__projects__container{
    /* border-bottom-style: groove;
    border-color: #078b45;
    border-top-style: groove; */
    height: 900px;
    margin: 0 10px 0 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    
}

.home__header{
    padding-left: 70px;
    margin-top: -40px;
}

.empty__projects{
    padding-left: 60px;
}

.top__navigation__buttons{
    display: flex;
    flex-direction: row;
    border-bottom-style: solid;
    border-color: #078b45;
    margin: 0rem 14rem 0rem 0rem;
}

.top__navigation__buttons > button{
    border: none;
    outline: none;
    margin-right: 5rem;
    font-size: 6rem;
    background-color: white;
}