.project_request_form{
    display: flex;

}

.profile_picture{
    height: 75rem;
    width: 75rem;
    margin-bottom: 10rem;
}

.description, .requirements{
    border: #DAD8D8;
    border-style: groove;
    border-radius: 5rem;

    height: 47rem;
    outline: none;
    padding-left: 5rem;
    font-size: 5rem;
    color: rgb(52, 52, 52);
    padding-top: 3rem;
}


.description_lbl, .requirements_lbl{
    color: black;
    font-size: 7rem;
    margin-bottom: 1rem;
    width: 100%;
}

.left_container{
    display: flex;
    flex-direction: column;
    margin-left: 38rem;
    margin-top: 15rem;
    width: 30%;
}

.right_container{
    display: flex;
    flex-direction: column;
    margin-left: 25rem;
    margin-top: 15rem;
    width: 70%;
}
.description_requirements_containter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.upload_image_btn{
    width: fit-content;
    height: 10rem;
    border-radius: 3rem;
    margin-left: 7rem;
}

.project_description_container, .project_requirements_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 25rem;
}

.project_image_container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 55rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-right: 22rem;
}

.project__links__container{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 55rem;
    overflow-y: scroll;
    scroll-behavior: smooth;
    margin-right: 22rem;
}

.upload__link__input{
    height: 5rem;
    width: 63rem;
    font-size: 4rem;
    margin-top: 5rem;
    margin-right: 3rem;
}

/*scrollbar*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 2rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

.submit_request{
    display: flex;
    flex-direction: row;
    height: 38rem;
    margin-right: 25rem;
    justify-content: flex-end;
}

.cancel__request__btn{
    background-color: #98C6DF;
    color:white;
    width: 30%;
    height: 21rem;
    border-radius: 10rem;
    border: none;
    outline: none;
    font-size: 6rem;
    margin-left: 5rem;
}

.submit_request_btn{
    background-color: #98C6DF;
    color:white;
    width: 30%;
    height: 21rem;
    border-radius: 10rem;
    border: none;
    outline: none;
    font-size: 6rem;
}

.submit_request_btn:hover{
    opacity: 0.5;
    transition-delay: 150ms;
}

.cancel__request__btn:hover{
    opacity: 0.5;
    transition-delay: 150ms;
}

.drag__zone{
    border-color: #DAD8D8;
    border-style: dotted;
    width: 100%;
    height: 27rem;
    border-radius: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    outline: none;
    flex-grow: 1;
}

.drag__zone__components{
    width: 55rem;
    display: flex;
    align-self: center;
    flex-direction: column;
}

p{
    font-size: 5rem;
    opacity: 0.5;
}

.upload__btn{
    margin-left: -11rem;
    font-size: 5rem;
    width: 75rem;
}

.dragged__picture{
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.toast__success{
    width: 213rem;
    height: 25rem;
    font-size: 7rem;
    padding-left: 13rem;
}

.upload__image__container{
    display: flex;
    flex-flow: row;
    align-content: center;
    width: 50%;
}

.upload__link__container{
    display: flex;
    flex-flow: row;
    align-content: center;
    width: 50%;
}

.filepicker{
    height: 9rem;
    margin-top: 5rem;
    margin-right: 3rem;
}

.add__new__image:hover, .add__new__link:hover{
    text-decoration: underline;
    cursor: pointer;
}


.delete__upload__file:hover, .delete__link__field:hover{
    text-decoration: underline;
    cursor: pointer;
}


.add__new__image, .delete__upload__file, .delete__link__field, .add__new__link{
    color: #009444;
    opacity: 1;
}


select {
    border-radius: 5rem;   
    outline: none;
    height: 14rem;
    border: #DAD8D8;
    border-style: groove;
    font-size: 5rem;
    width: 100%;
    padding-left: 3rem;
    margin-bottom: 13rem;
    
}

label{
    color: black;
    font-size: 7.5rem;
    margin-bottom: 1rem;
}

.upload__descriptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5rem;
    margin-top: 4rem;
}

.images__title{
    width: 50%;
}

.icons__title{
    width: 50%;
}

.image_links_container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.icons__title > img{
    margin-left: 3rem;
}


.about__us__project__request{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16rem;
    margin-right: 25rem;
}

.about__us__txtArea{
    height: 50rem;
    padding-left: 5rem;
    padding-top: 5rem;
    font-size: 5rem;
    color: rgb(52, 52, 52);
    border: #DAD8D8;
    border-style: groove;
    border-radius: 5rem;
    outline:none;
}

.project__request__title{
    margin: 20rem 0 0 38rem;
}


