.project_request_form{
    display: flex;

}

.profile_picture{
    height: 300px;
    width: 300px;
    margin-bottom: 40px;
}

.blue_bar{
    background-color: #98C6DF;
    height: 30px;
}

.description, .requirements{
    border: #DAD8D8;
    border-style: groove;
    border-radius: 20px;

    height: 44px;
    width: 431px;
    outline: none;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(52, 52, 52);
   
}

.description, .requirements{
    padding-top: 10px;
}

.description_lbl, .requirements_lbl{
    color: black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.left_container{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 100px;
}

.right_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 100px;
}

.upload_image_btn{
    width: fit-content;
    height: 40px;
    border-radius: 10px;
    margin-left: 30px;
}

.project_description_container, .project_requirements_container{
    display: flex;
    flex-direction: column;
    width: 500px;
}

.description, .requirements{
    width: 412px;
    height: 189px;
}

.project_image_container{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    margin-left: 40px;
    overflow-y: scroll;
}

.project__links__container{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: -30px;
    margin-left: 0px;
    height: 200px;
    overflow-y: scroll;
    scroll-behavior: smooth;

    align-items: center;
   
}

.upload__link__input{
    height: 20px;
    width: 250px;
    margin-left: 70px
}

/*scrollbar*/
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

.submit_request{
    display: flex;
    flex-direction: column;
    height: 150px;
    margin-left: 330px;
}

.submit_request_btn{
    background-color: #98C6DF;
    color:white;
    width: 250px;
    height: 84px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.submit_request_btn:hover{
    opacity: 0.5;
    transition-delay: 150ms;
}

.drag__zone{
    border-color: #DAD8D8;
    border-style: dotted;
    width: 100%;
    height: 300px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: scroll;
    outline: none;
    flex-grow: 1;
}

.drag__zone__components{
    width: 220px;
    display: flex;
    align-self: center;
    flex-direction: column;
}

p{
    font-size: 20px;
    opacity: 0.5;
}

.upload__btn{
    margin-left: -45px;
    font-size: 20px;
    width: 300px;
}

.dragged__picture{
    margin-left: 5px;
    margin-bottom: 5px;
}

.toast__success{
    width: 850px;
    height: 100px;
    font-size: 30px;
    padding-left: 50px;
}

.upload__image__container{
    display: flex;
    flex-flow: row;

}
.upload__link__container{
    display: flex;
    flex-flow: row;
    align-items: center;
 
}

.filepicker{
    height: 35px;
    margin-top: 18px;
}

.add__new__image:hover, .add__new__link:hover{
    text-decoration: underline;
    cursor: pointer;
}


.delete__upload__file:hover, .delete__link__field:hover{
    text-decoration: underline;
    cursor: pointer;
}

.delete__link__field{
    margin-left: 30px;
}

.add__new__image, .delete__upload__file, .delete__link__field, .add__new__link{
    color: #009444;
    opacity: 1;
}

.add__new__link{
    margin-left: -40px;
}


select {
    border-radius: 20px;   
    outline: none;
    height: 54px;
    border: #DAD8D8;
    border-style: groove;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 460px;
    padding-left: 10px;
    margin-bottom: 50px;
    
}

label{
    color: black;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
}

.upload__descriptions{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.images__title{
    margin-left: 35px;
}
.icons__title{
    margin-left: 350px;
}

.icons__title > img{
    margin-left: 10px;
}

.about__us__project__request{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    width: 88%;
    margin-bottom: 65px;
}

.about__us__txtArea{
    width: 96%;
    height: 180px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(52, 52, 52);
    border: #DAD8D8;
    border-style: groove;
    border-radius: 20px;
    outline:none;
}

