.student-profile-wrapper{
    display: flex;
    flex-direction: column;
    padding: 0rem 10rem 0rem 10rem;
}

.top-student-profile-wrapper{
    display: flex;
    flex-direction: row;
}

.student-profile-picture-wrapper{
    width: 15%;
}

.basic-student-info-wrapper{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    padding: 0 10rem;
}
.basic-student-info-wrapper > p{
    padding: 3rem;
}

.student-profile-picture{
    width: 100%;
    border-radius: 100%;
}

.bottom-student-profile-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #f4f3f3;
    padding: 20rem;
    margin-top: 10rem;
}

.student-profile-cv{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.student-profile-cv > div> img{
    width: 14rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
}

.student-profile-cv > button{
    width: 30rem;
    color: white;
    height: 11rem;
    background-color: #078b45;
    outline: none;
    border: none;
    font-size: 4rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.student-profile-cv > button:hover{
    opacity: 0.5;
}

.student-profile-cv > button:active{
    background-color: #078b45;
    box-shadow: 0 5px #666;
    transform: translateY(1rem);
}

.student-profile-cv > div> input{
    width: 44rem;

}

.student-profile-cv > div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottom-student-profile-wrapper .student-contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5rem;
}