.created__tag__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: gainsboro;
    border-style: solid; */
    border-width: thin;
    max-width: 225rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;

    /* -webkit-box-shadow: 7px 9px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 21px -5px rgba(0,0,0,0.75); */
}
.tag__container{
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.tags__area{
    margin-bottom: 25rem;
}

.created__tag__container{
    margin-right: 1rem;
}

.tag__container > button{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0rem;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
    font: 400 13.3333px Arial;
    height: 8rem;
    font-size: 5rem;
}

.tag__container > button::after{
    content: '\2715';
    color: #AAA;
    margin-left: 2rem;
}

.tags__input__container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 3rem;
}

.tags__icon{
    width: 16rem;
    height: 10rem;
    margin-right: 2rem;
}

.create__tag__input__container{
    display:flex;
    align-content: center;
}

.create__tag__input__container > input{
    outline: none;
    border: none;
    width: 100%;
    height: 500rem;
}

.tags__container{
    margin-bottom: 25rem;
}

.tags_input{
    width:82%;
    height: 50rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    border: #DAD8D8;
    border-style: groove;
    border-radius: 5rem;
    height: 11rem;
    outline: none;
    padding-left: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    color: rgb(52, 52, 52);

}
.add_tag_label{
    width: 40%;
    height: 6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
}