.created__tag__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    /* border: gainsboro;
    border-style: solid; */
    border-width: thin;
    width: 100%;
    max-width: 900px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;

    /* -webkit-box-shadow: 7px 9px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 21px -5px rgba(0,0,0,0.75); */
}
.tag__container{
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags__area{
    margin-bottom: 100px;
}

.created__tag__container{
    margin-right: 5px;
}

.tag__container > button{
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    cursor: pointer;
    font: 400 13.3333px Arial;
    height: 25px;
}

.tag__container > button::after{
    content: '\2715';
    color: #AAA;
    margin-left: 8px;
}

.create__tag__input__container{
    display:flex;
    align-content: center;
}

.create__tag__input__container > input{
    outline: none;
    border: none;
    min-width: 80px;
    max-width: 500px;
}

.tags__container{
    margin-bottom: 100px;
}
